{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website\css\assignment.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="main">
        <div class="container">
            <div class="heading">
                <h1>Jane Doe</h1>
            </div>
            <div class="title">
                <h5>Web Developer</h5>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>
                    A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
            </div>
            <div class="contact">
                <ul>
                    <li>Email: jane@example.com</li>
                <li>Web: http://example.com</li>
                <li>Tel: 123 456789</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>