{% extends 'website/base.html' %}


{% block page_title %}
Page1
{% endblock page_title %}

{% block page_heading %}
<p>This is page heading</p>
{% endblock page_heading %}


{% block page_content %}
<div class="container">
    <h1>
        This is page Content
    </h1>
    <span>Vishal Vishwakarma</span>
    <h4>Vishal Vishwakarma</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est provident quae, quo consectetur nam maiores? Suscipit veritatis laborum quos, delectus eveniet necessitatibus sapiente maxime quod libero dolore eius, dolorem quis!</p>
    
</div>

{% endblock page_content %}